.r-form
{
    border: 2px solid black;
    margin: 20px auto;
    width: 500px;
    background-color:cyan;
}
.label
{
    border: 2px solid black;
    margin: 10px;
    background-color:aquamarine;
    height: 45px;
    font-size: 25px;
    text-align: center;
}
.result
{
    border: 2px solid black;
    margin: 20px auto;
    width: 500px;
    background-color:lightblue;
    
}